{% load static %}

<header class="py-3 mb-4 border-bottom">
  <div class="container-fluid d-grid gap-3 align-items-center">
    <nav class="navbar navbar-light">
      <div class="container-fluid">
        <a href="{% url 'seller:index' %}" class="navbar-brand">
          <img src="{% static 'public/images/logo.png' %}"
               alt="my company"
               width="40"
               class="bi me-2" />
          <span class="fs-4">Seller App</span>
        </a>

        {% if shops %}
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            {% for shop in shops %}
              <li>
                <a href="{% url "seller:shop" shop.slug %}"
                   class="nav-link px-2 {% if shop.slug == slug %}link-primary{% else %}link-secondary{% endif %}">{{ shop.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}

        <div class="d-flex align-items-center">
          <div class="flex-shrink-0 dropstart">
            <a href="#"
               class="d-block link-body-emphasis text-decoration-none"
               data-bs-toggle="dropdown"
               aria-expanded="false">

              <i class="fs-3 bi bi-person-circle"></i>
            </a>
            <ul class="dropdown-menu text-small shadow">
              {% comment %} <li>
                <a class="dropdown-item" href="#">Profile</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li> {% endcomment %}
              <li>
                <a class="dropdown-item"
                   hx-post="{% url 'seller:logout' %}"
                   hx-push-url="{% url 'seller:login' %}"
                   hx-target='body'>Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
